HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Cloudflare R2 Configuration
CF_ACCESS_KEY_ID=your_access_key_id
CF_ACCESS_SECRET=your_secret_access_key
CF_ENDPOINT=https://your_account_id.r2.cloudflarestorage.com
CF_BUCKET=your_bucket_name
CF_PUBLIC_ACCESS_URL=https://pub-your_public_bucket_id.r2.dev
