@import "tailwindcss";

:root {
  --color-primary: 82 17 212;
  --color-background-light: 246 246 248;
  --color-background-dark: 22 16 34;
}


.text-primary {
  color: rgb(82 17 212);
}

.bg-primary {
  background-color: rgb(82 17 212);
}

.border-primary {
  border-color: rgb(82 17 212);
}

.bg-primary\/10 {
  background-color: rgb(82 17 212 / 0.1);
}

.bg-primary\/20 {
  background-color: rgb(82 17 212 / 0.2);
}

.hover\:bg-primary\/90:hover {
  background-color: rgb(82 17 212 / 0.9);
}

.shadow-primary\/30 {
  box-shadow: 0 10px 15px -3px rgb(82 17 212 / 0.3), 0 4px 6px -2px rgb(82 17 212 / 0.3);
}

.bg-background-light {
  background-color: rgb(246 246 248);
}

.bg-background-dark {
  background-color: rgb(22 16 34);
}

.bg-background-light\/80 {
  background-color: rgb(246 246 248 / 0.8);
}

.bg-background-dark\/80 {
  background-color: rgb(22 16 34 / 0.8);
}

.font-display {
  font-family: "Space Grotesk", sans-serif;
}