---
---

<footer class="bg-background-dark border-t border-slate-200 dark:border-slate-800">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6 text-center text-sm text-slate-500 dark:text-slate-400">
    <p>Web hecha por Carlos Ferreras</p>
  </div>
</footer>
