---
---

<header
  class="sticky top-0 z-20 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-sm border-b border-slate-200 dark:border-slate-800"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center gap-8">
        <a
          class="flex items-center gap-2 text-lg font-bold text-slate-900 dark:text-white"
          href="/"
        >
          <span
            class="material-symbols-outlined text-primary-light text-3xl"
            >shield</span
          >
          <span>TFTComps</span>
        </a>
        <nav class="hidden md:flex items-center gap-6">
          <a
            class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-primary-light dark:hover:text-primary-light transition-colors"
            href="/compositions"
            >Compositions</a
          >
          <a
            class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-primary-light dark:hover:text-primary-light transition-colors"
            href="/items"
            >Items</a
          >
          <a
            class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-primary-light dark:hover:text-primary-light transition-colors"
            href="/champions"
            >Champions</a
          >
          <a
            class="text-sm font-medium text-slate-600 dark:text-slate-300 hover:text-primary-light dark:hover:text-primary-light transition-colors"
            href="/tier-list"
            >Tier List</a
          >
        </nav>
      </div>
      <div class="flex items-center gap-4">
        <div class="relative hidden sm:block">
          <span
            class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 dark:text-slate-500"
            >search</span
          >
          <input
            class="pl-10 pr-4 py-2 w-48 rounded-lg bg-slate-200 dark:bg-slate-800/50 text-sm focus:outline-none focus:ring-2 focus:ring-primary-light"
            placeholder="Search..."
            type="search"
          />
        </div>
        <button
          class="p-2 rounded-full text-slate-500 dark:text-slate-400 hover:bg-slate-200 dark:hover:bg-slate-800 transition-colors"
        >
          <span class="material-symbols-outlined">help</span>
        </button>
        <button>
          <img
            alt="User Avatar"
            class="size-9 rounded-full"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuDVLxg5kI5Nah5ecOpwba30Kwj2QejX7gC1-GgbNf2OBPnAPmiEUtr05hNqw5fzLmMUCSNG-XqqvEQlFjYyOwJl-o2uRRYYtqTgSBNUuB340eRD8-x3N89Ta6PJ2OZEWqC5pNi_v_IntWvz8heG4MQ4TL0J5ARshqcDlfz2wYfAhYgOxoyVN4C3Z0Ecxu88KYtxidFYxHPcjnWgVXzL0YTqX63pPQlmXi3f-wLZMyMR2wBmT42AyySsPbr29su71v2RI_-0ipttlTm4"
          />
        </button>
      </div>
    </div>
  </div>
</header>